
@font-face {
  font-family: 'BarutaBlack';
  src: url('BarutaBlack.eot?#iefix') format('embedded-opentype'),  url('BarutaBlack.woff') format('woff'), url('BarutaBlack.ttf')  format('truetype'), url('BarutaBlack.svg#BarutaBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
