/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {


/*  

	main-section 
	
*/

	#main-section {
		padding-top: 10px;
		height: auto !important;
		background: url(../img/main-bg.jpg) 50% 100% no-repeat;
	}
	.main-header {
		position: relative;
	}
	#main-nav {
		display: none;
	}
	.scroll-icon {
		display: none;
	}
	.right-list {
		position: relative;
		top: 0;
		right: 0;
	}
	.right-list-socials {
		display: none;
	}
	.right-list>ul li {
		margin-top: 7px;
		margin-right: 5px;
	}
	.l-container {
		font-size: 1rem;
	}
	.jumbo-content h1 {
		margin-top: 25px;
	}
	.jumbo-content p {
		margin-bottom: 25px;
	}
	.jumbo-content p.wow {
		padding-left: 3vw;
		padding-right: 3vw;
		line-height: 25px;
		margin-bottom: 25;
	}
	.jumbo-content p.wow br {
		clear: none;
		display: none;
	}
	.main-logo {
		margin-left: 10px;
	}
	.mumbo-jumbo {
		width: 100%;
		height: auto;
/* 		min-height: 100vh; */
	}
	.mumbo-jumbo .jumbo-content {
		margin-bottom: 30px;
	}
	.learn-more {
		position: static;
		bottom: auto;
		left: auto;
	}
	.learn-more__launch {
		bottom: auto;
		position: static;
		margin-left: auto;
	}
	.learn-more__launch span {
		display: block;
		clear: both;
	}
	.learn-more__launch i {
		margin: 8px auto;
	}
	h1 {
		font-size: 1.7rem;
	}
	h2, h3 {
		font-size: 1.4rem;
		text-align: center;
	}
	.section-title {
		padding-left: 3vw;
		padding-right: 3vw;
	}
	#about-section {
		padding-top: 40px;
	}
	#about-section .section-title {
		margin-bottom: 35px;
	}
	#about-section .section-title p {
		line-height: 25px;
	}
	#about-section .section-title p br {
		display: none;
	}
	#pin-wallet {
		height: auto;
	}
	.key-features p.title {
		font-size: 1.2rem;	
	}
	.key-features .features-icon {
		margin-bottom: 25px;
	}
	.key-features .touch, .key-features .battery {
		float: none;
	}
	.key-features {
		margin-bottom: 35px;
		width: 80vw;
		margin-left: auto;
		margin-right: auto;
	}
	.touch p br, .signal p br, .battery p br {
		display: none;
	}

	.card-features {
		position: static;
		display: inline-block;
		margin-bottom: 130px;
	}
	
	.lg-card {
		width: 170px;
		height: 102px;
	}
	
	.lg-card .card-logo {
		margin: 10px 20px 0px 0px;
		position: relative;
		top: 0;
		right: 0;
		
	}
	.lg-card .card-logo img {
		width:  43px;
		height: 8px;
	}	
	.card {
		border-radius: 5px;
	}
	.card, .custom-card {
		box-shadow:0 4px 10px 0 rgba(37,37,37,.3);
	}
	.card-elements {
		position: relative;
	}
	.indicators {
		position: relative;
		left: 0;
		top: 0;
	}
	.feature-icons {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.power-wrap, .signal-wrap, .battery-wrap {
		position: absolute;
		margin-top: -15px;
		margin-bottom: 5px;
	}
	.icon-txt {
		font-size: 0.7rem;
		line-height: 10px;
	}
	.power-wrap {
		left: -20px;
		top: 50%;
	}
	.battery-wrap {
		right: 50%;
		top: 100%;
		margin-right: -30px;
	}
	.signal-wrap {
		right: -25px;
		top: 50%;
		width: 50px;
	}
	.signal-wrap .icon-txt {
		display: inline-block;
		height: 1em;
		overflow-y: hidden;
	}
	.feature-icon-bg {
		width: 30px;
		height: 30px;
		box-shadow: 0 2px 5px 0 rgba(21,21,21,.3);
		margin-bottom: 1px;
	}
	.feature-icon-bg svg {
		width: 16px;
		height: 16px;
		margin: 7px;
	}
	svg.power-icon {
		width: 12px;
		height: 12px;
		margin: 9px;
	}
	.alarm-signal {
		height: 100%;
		width: 100%;
		left: 0px;
		top: 0px;
		position: absolute;
	}
	.power-light {
		position: relative;
		top: 50%;
		left: 20px;
		width: 3px;
		height: 3px;
	}
	.signals {
		position: absolute;
		top: 5%;
		right: 5%;
		bottom: 5%;
		height: 90%;
		width: 50%;
	}
	.signals span {
		top:50%;
		border: 3px solid #fff;
	}
	.signals .signal-1 {
		width: 3px;
		height: 3px;
		margin-top:  -1.5px;
		margin-left: -1.5px;
	}
	.signals .signal-2 {
		width: 20px;
		height: 20px;
		margin-top:  -10px;
		margin-left: -10px;
	}
	.signals .signal-3 {
		width: 40px;
		height: 40px;
		margin-top:  -20px;
		margin-left: -20px;
	}
	.signals .signal-4 {
		width: 60px;
		height: 60px;
		margin-top:  -30px;
		margin-left: -30px;
	}
	.signals .signal-5 {
		width: 80px;
		height: 80px;
		margin-top:  -40px;
		margin-left: -40px;
	}

	.battery-wrap, .power-wrap, .signal-wrap, .battery-wrap:after, .power-wrap:after, .signal-wrap:after, .battery-wrap:before, .power-wrap:before, .signal-wrap:before,
	 .battery-wrap::after, .power-wrap::after, .signal-wrap::after, .battery-wrap::before, .power-wrap::before, .signal-wrap::before
	  {
		background: none;
	}
	
	
	.md-card {
		width: 220px;
		height: 162px;
		float: none;
		margin: 0px auto -130px auto;
		position: relative;
	}
	.md-card .card-logo {
		margin: 15px 25px 0 0;
	}
	.md-card .card-logo img {
		width: 75px;
		height: 15px;
	}
	.wallet {
		width: 290px;
		height: 230px;
		position: relative;
		top: 0px;
		right: auto;
		margin: auto;
		z-index: 2;
		opacity: 1;
		background-size: cover;
	}
	.smart-slim {
		float: none;
		position: relative;
		margin: -320px 5vw 20px 5vw;
		top: 0px;
		right: auto;
		
	}
	
	.right-inline, .left-inline {
		float: none;
		text-align: center;
	}
	
	.smart-slim .left-inline h3 {
		margin-bottom: 300px;
	}

	.right-inline p br, .left-inline p br {
		display: none;
	}

	.travellers {
		padding-left: 5vw;
		padding-right: 5vw;
	}
	.travellers-img {
		height: 260px;
	}	
	.travellers-img  img {
		width: 300px;
		height: 292px;
	}
	.travellers-txt {
		position: relative;
		margin: -290px 0 20px 0;
	}
	.travellers-txt__heading {
		margin-bottom: 300px;
	}
	#map-section {
		min-height: 250px;
	}
	.map__container {
		position: static;
		display: block;
		z-index: auto;
		left: 0;
		text-align: center;
	}	
	.map__container .map-jumbo {
		float: none;
		text-align: center;
		padding-top: 0px;
		margin-bottom: 20px;
	}
	.map__hand-icon {
		float: none;
	}
	.map-jumbo__heading {
		float: none;
		display: inline-block;
		line-height: 45px;
		vertical-align: top;
	}
	.map-jumbo__paragraph br {
		display: none;
	}
	
	
	#how-it-works {
		min-height: 200px;
		position: static;
		width: 100vw;
	}
	.left-relative, .right-relative {
		float: none;
		position: relative;
	}
	.first-block {
		min-height: 100px;
	}
	.first-block img {
		width: 270px;
	}
	.steps {
		text-align: left;
		width: 85%;
	}
	.step div {
		display: block;
	}
	.step div.step-number {
		float: left;
	}
	.step-txt {
		padding-left: 65px;
	}
	
	#touch-wrap {
		position: relative;
		margin: 0px auto;
		padding-bottom: 30px;
	}
	.touch-alert {
		min-height: inherit;
		max-width: inherit;
		margin-bottom: 0px;
		width: 100%;
		display: inline-block;
		margin-top: -40vw;
	}
	.touch-alert .alert-icon {
		display: block;
	}
	.arm {
		width: 75vw;
		height: 75vw;
		left: 50%;
		top: -20vw;
		position: relative;
		right: auto;
	}
	.fake-arm {
		visibility: hidden;
		height: 0;
		width: 0;
	}
	.touch-img div {
		position: relative;
		display: block;
	}
	.touch-img div.sm-card {
		position: absolute;
	}
	.touch-img div.sm-wallet {
		position: absolute;
	}
	.touch-txt {
		float: none;
		max-width: 290px;
		text-align: center;
		margin-top: 0;
	}
	.touch-txt__paragraph br {
		display: none;
	}
	.sm-card {
		width: 33vw;
		height: 70px;
		left: 50%;
		top: 26vw;
		margin-left: -18vw;
	}
	.sm-wallet {
		width: 38vw;
		height: 31vw;
		background: url(../img/sm-wallet.png);
		background-size: cover;
	}
	.touch-wallet {
		top: 28vw;
		left: 50%;
		margin-left: -20vw;
	}
	.touch-img {
		min-height: 0px;
		min-width: 0px;
		width: 100%;
		height: auto;
		margin-top: -25px;
	}
	.touch-iphone {
		background: url(../img/iphone-gold.png);
		background-size: cover;
		width: 24vw;
		height: 58vw;
		display: block;
		position: relative;
		top: 5vw;
		left: 50%;
		margin-left: -25vw;
	}
	.alert-icon {
	    margin: 0 auto;
	    display: block;
	}
	.alert-svg {
		width: 70px;
		height: 120px;
		margin-left: 0;
		margin-top: 0;
	    -ms-transform: rotate(90deg); /* IE 9 */
	    -webkit-transform: rotate(90deg); /* Safari */
	    transform: rotate(90deg);
	}
	img#armImg {
		height: 100%;
	}
	.using-phone__left-block {
		min-width: 0px;
		min-height: 0px;
		height: 150px;
		margin: 200px auto auto 0;
		display: block;
	}
	.using-phone__left-block img {
		height: 250px;
	}
	p.phone-txt__paragraph, p.watch-txt__paragraph {
		font-size: 1rem;
	}
	
	.using-phone-txt {
		margin-top: -350px;
		margin-bottom: 150px;
		display: block;
	}
	
	.using-apple-watch {
		margin-left: 5vw;
		margin-right: 5vw;
		margin-bottom: 80px;
		text-align: center;
	}
	.apple-watch {
		width: 220px;
		height: 250px;
		margin-top: 25px;
		background-size: contain;
	}
	
	#app-download {
		background: url(../img/download-bg.jpg) 70% 50% no-repeat;
		background-size: cover;
		padding-top: 0px;
	}
	.info {
		background-color: rgba(0,0,0,0.35);
		padding-top: 80px;
		min-height: 500px;
		padding-left: 5vw;
		padding-right: 5vw;
	}
	.app-header p br {
		display: none;
	}
	.app-header h2 {
		color: #fff;
	}
	.app-header p {
		color: #fff;
	}
	.app-logo:nth-child(2) {
		margin-right: 15px;
		margin-top: 10px;
	}
	
	#choose-color {
		padding: 70px 5vw 70px 5vw;
	}
	.color-header__paragraph br {
		display: none;
	}
	.get-custom-select {
		width: 100%;
		min-width: 300px;
	}
	.order {
		text-align: center;
	}
	.counter {
		float: none;
		margin: 0px auto 20px auto;
	}
	#news-share {
		background: url(../img/share-bg.jpg) no-repeat;
		background-size: cover;
		padding-top: 0;
		min-height: 400px;
	}
	#news-share .l-container {
		padding-top: 70px;
		padding-bottom: 70px;
		background-color: rgba(0,0,0,0.35);
		height: 100%;
	}
	.share__heading {
		padding-left: 7vw;
		padding-right: 7vw;
		color: #fff;
	}
	.share__heading br {
		display: none;
	}
	.share-btn {
		margin-top: 20px;
	}
		
	#team .l-container p br {
		display: none;
	}	
	#team .l-container p {
		padding-left: 5vw;
		padding-right: 5vw;
	}
	.team-players {
		width: 100%;
	}
	.team-players .row {
		margin-bottom: 0px;
		display: inline-block;
		width: 100%;
	}
	.team-players .second-row {
		margin-bottom: 45px;
	}
	.person {
		display: block;
		margin-bottom: 30px;
	}
	
	
	#launching-soon {
		background: url(../img/soon-bg.jpg) no-repeat;
		background-size: cover;
		padding-top: 0px;
		min-height: 300px;
	}
	#launching-soon .l-container {
		width: 100%;
		padding-top: 70px;
		padding-bottom: 70px;
		background-color: rgba(0,0,0,0.35);
		color: #fff;
	}
	#launching-soon input[type=text] {
		width: 95%;
		margin-right: 0px;
		max-width: 350px;
		clear: both;
	}
	.soon-jumbo__heading {
		color: #fff;
	}
	.soon-jumbo__paragraph {
		color: #fff;
	}
	.soon-jumbo__paragraph br {
		display: none;
	}
	.sign-up__btn {
		clear: both;
		margin-top: 30px;
	}
	
	
	
	
	#contact-us {
		background: url(../img/map-bg.png) center center no-repeat;
		background-size: cover;
	}	
	.contact-us-jumbo {
		padding-left: 5vw;
		padding-right: 5vw;
	}
	.contact-form {
		width: 100%;
	}
	.contact-form input, .contact-form textarea {
		width: 95%;
	}
	.contact-form button {
		width: 95%;
	}
	.contacts {
		width: 95%;
		text-align: left;
		margin-bottom: 60px;
	}
	.contacts-item {
		text-align: left;
		width: 100%;
	}
	.contacts i {
		display: block;
		text-align: center;
		float: left;
		margin-top: 12px;
	}
	.contacts p {
		display: block;
		padding-left: 55px;
		min-width: 200px;
	}
	#signup-response {
		clear: both;
		display: inline-block;
	}
	
	#main-footer {
		padding-bottom: 60px;
	}
	.foo-col__item-1 {
		width: 100%;
	}
	.footer-socials {
		float: none;
	}
	.foo-col__item-2 {
		width: 70%;
	}
	p.copy {
		text-align: center;
	}
	.foo-col__item-3 {
		text-align: center;
	}
	.btn-top {
		display: block;
		margin-left: 0;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
.l-container {
	font-size: 1.2rem;
}

h1 {
	font-size: 2.1rem;
}

.jumbo-content p.wow {
	padding-left: 5vw;
	padding-right: 5vw;

}

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}